<a href="https://colab.research.google.com/github/harshaayyappan/BYTS-ML/blob/main/Gradient_Boost_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
test = pd.read_csv("https://raw.githubusercontent.com/ezioauditore-tech/AI/main/datasets/Titanic/test.csv")
train = pd.read_csv("https://raw.githubusercontent.com/ezioauditore-tech/AI/main/datasets/Titanic/train.csv")

In [ ]:
train.set_index("PassengerId",inplace = True)
test.set_index("PassengerId",inplace = True)

In [ ]:
test

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...
1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

here the train data only has 891 so we need some more datas so we are combining the tarining and testing data and making a copy

In [ ]:
y_train = train["Survived"]

In [ ]:
train.drop(labels="Survived",axis=1,inplace=True)

In [ ]:
train.shape

(891, 10)

In [ ]:
train_test=train.append(test)

<ipython-input-11-d2734cde2921>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_test=train.append(test)

In [ ]:
columns_to_drop=["Name","Age","SibSp","Ticket","Cabin","Parch","Embarked"]
train_test.drop(labels=columns_to_drop,axis=1,inplace = True)

In [ ]:
train_test_dummies=pd.get_dummies(train_test,columns=["Sex"])
train_test_dummies.shape
train_test_dummies.isnull().sum()
train_test_dummies.fillna(value=0.0,inplace=True)

In [ ]:
X_train=train_test_dummies.values[0:891]
X_test=train_test_dummies.values[891:]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X_train_scale=scaler.fit_transform(X_train)
X_test_scale=scaler.fit_transform(X_test)

In [ ]:
from sklearn.model_selection import train_test_split
X_train_sub,X_validation_sub,y_train_sub,Y_validation_sub=train_test_split(X_train_scale,y_train,random_state=0)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report,confusion_matrix

In [ ]:
learning_rate=[0.05,0.1,0.25,0.75,1]
for learning_rate in learning_rate:
  gb=GradientBoostingClassifier(n_estimators=20,learning_rate=learning_rate,max_features=2, max_depth = 2, random_state = 0)
  gb.fit(X_train_sub,y_train_sub)
  print("Learning rate:",learning_rate)
  print("Accuracy score(training):{0:.3f}".format(gb.score(X_train_sub,y_train_sub)))
  print("Accuracy score(vallidation):{0:.3f}".format(gb.score(X_validation_sub,Y_validation_sub)))

Learning rate: 0.05
Accuracy score(training):0.789
Accuracy score(vallidation):0.780
Learning rate: 0.1
Accuracy score(training):0.792
Accuracy score(vallidation):0.780
Learning rate: 0.25
Accuracy score(training):0.816
Accuracy score(vallidation):0.803
Learning rate: 0.75
Accuracy score(training):0.831
Accuracy score(vallidation):0.789
Learning rate: 1
Accuracy score(training):0.831
Accuracy score(vallidation):0.789

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import classification_report, confusion_matrix

learning_rates = [0.05, 0.1, 0.25, 0.88, 1,0.19]

for learning_rate in learning_rates:
    ada = AdaBoostClassifier(n_estimators=20, learning_rate=learning_rate, random_state=0)
    ada.fit(X_train_sub, y_train_sub)

    print("Learning rate:", learning_rate)
    print("Accuracy score (training): {0:.3f}".format(ada.score(X_train_sub, y_train_sub)))
    print("Accuracy score (validation): {0:.3f}".format(ada.score(X_validation_sub, Y_validation_sub)))

Learning rate: 0.05
Accuracy score (training): 0.789
Accuracy score (validation): 0.780
Learning rate: 0.1
Accuracy score (training): 0.789
Accuracy score (validation): 0.780
Learning rate: 0.25
Accuracy score (training): 0.792
Accuracy score (validation): 0.780
Learning rate: 0.88
Accuracy score (training): 0.799
Accuracy score (validation): 0.776
Learning rate: 1
Accuracy score (training): 0.804
Accuracy score (validation): 0.776
Learning rate: 0.19
Accuracy score (training): 0.789
Accuracy score (validation): 0.780